# CodeIgniter specific
/application/logs/*
!/application/logs/index.html
!/application/logs/.htaccess
/vendor/
/uploads/beranda/mixkit-going-down-a-curved-highway-through-a-mountain-range-41576-large.mp4
/.vscode/launch.json

# CodeIgniter configuration files
/application/config/development
/application/config/database.php
/application/config/config.php
/application/libraries/Template.php

# CodeIgniter system files
/system/cache/*
!/system/cache/index.html
!/system/cache/.htaccess

# CodeIgniter user guide
/user_guide_src/build/*
/user_guide_src/cilexer/build/*
/user_guide_src/cilexer/dist/*
/user_guide_src/cilexer/pycilexer.egg-info/*
mis_dm.zip
mis_dm.tar
application/config/database.php
