<IfModule mod_rewrite.c>
    RewriteEngine On

    # Internal redirect from /dist/... to /...
    # RewriteRule ^dist/(.*)$ $1 [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]

    # Header CORS
    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "*"
    </IfModule>
</IfModule>
