<IfModule mod_rewrite.c>
    RewriteEngine On

    # Internal redirect from /dist/... to /...
    RewriteRule ^dist/(.*)$ $1 [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>